.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
max-width:400px;
margin:40px auto;
padding:25px;
border:2px solid yellow;
border-raduis:8px;
box-shadow:0 0 10px;

}
.todo-input{
  width:80%;
  padding:10px;
  border:2px solid black;
  border-radius:4px;
  margin-right:10px;
  margin-left:10px;
  box-shadow:0 7px 4px rgba(3,2,1,0.1)
}
.todo-button{
  padding:3px;
  background-color:white;
  border:none;
  cursor:pointer;
}
.todo-button.hover{
  text-color:yellow;
  decoration:underline;
}
.todo-list{
  list-style:none;
  margin-top:20px;
}
.todo-item{
  box-shadow:0 7px 4px rgba(3,2,1,0.1);
  padding:20px;
  text-align:left;
  display:flex;
  justify-content:space-between;
}
.delete-button{
  background-color:yellow;
  border:none;
  padding:4px;
  border-radius:2px;
}
.status-button{
width:fit-content;
}



